<div class="container">

  <div class="d-flex justify-content-around">

    <div *ngFor="let user of users" class="card" style="width: 18rem">

      <img class="card-img-top" [src]="user.avatar">

      <div class="card-body">
        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
        <p class="card-text">{{user.email}}</p>
      </div>

    </div>

  </div>

</div>


<router-outlet></router-outlet>
